# Created by .ignore support plugin (hsz.mobi)
/target/

*.class
.classpath
.project
.metadata
.settings

# Netbeans files
nb-configurazione.xml


# Mobile Tools for Java (J2ME)
.mtj.tmp/
#test

# Package Files #
#*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IntelliJ file
*.iml

# IntelliJ dirs
.idea/

# Maven dirs
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

.mvn/

# Local environment configurazione file
/bin/
/.apt_generated_tests/
.factorypath
.env
build.sh
build.bat
*.iml
